---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<main class="px-4 md:px-8 max-w-5xl mx-auto" {...storyblokEditable(blok)}>
  <Nav />
  {
    blok.body?.map((blok: any) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
  <Footer />
</main>
