---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Email from "./icons/Email.astro";
---

<footer class="py-16 flex flex-col justify-center items-center gap-8">
  <div class="flex gap-4">
    <a href="#"><Github /></a>
    <a href="#"><Linkedin /></a>
    <a href="#"><Email /></a>
  </div>

  <p class="text-neutral-400">© 2023 Gerson Garayar.</p>
</footer>
