---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Email from "./icons/Email.astro";
---

<footer class="py-16 flex flex-col justify-center items-center gap-8">
  <div class="flex gap-4">
    <a
      href="https://github.com/GersonGarayar20"
      target="_blank"
      rel="noreferrer"><Github /></a
    >
    <a
      href="https://www.linkedin.com/in/gerson-garayar"
      target="_blank"
      rel="noreferrer"><Linkedin /></a
    >
    <a href="mailto:garayargerson30@gmail.com" target="_blank" rel="noreferrer"
      ><Email /></a
    >
  </div>

  <p class="text-neutral-400">© 2023 Gerson Garayar.</p>
</footer>
