---
import Card from "./Card.astro";
---

<section class="md:py-24 py-16 flex flex-col md:gap-24 gap-16">
  <header class="flex flex-col gap-4">
    <h2 class="text-neutral-200 md:text-6xl text-4xl font-semibold">
      Proyectos
    </h2>
    <p class="text-neutral-400 md:text-xl">
      Algunos proyectos que he realizado
    </p>
  </header>
  <ul class="flex flex-col md:gap-24 gap-16">
    <Card />
    <Card />
    <Card />
  </ul>
</section>
